
@{
    ViewData["Title"] = "Index";
    int page = ViewBag.Page;
    int totalPages = ViewBag.TotalPage;
    int count = (page - 1) * 2;
}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a asp-action="create" class="btn btn-primary">Create</a>
        </div>
        <div class="col-md-10 mx-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">GenreName</th>
                        <th scope="col">AuthorName</th>
                        <th scope="col">Name</th>
                        <th scope="col">Desc</th>
                        <th scope="col">SubDesc</th>
                        <th scope="col">SalePrice</th>
                        <th scope="col">Actions</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@book.Genre.Name</td>
                            <td>@book.Author.FullName</td>
                            <td>@book.Name</td>
                            <td>@book.Desc</td>
                            <td>@book.SubDesc</td>
                            <td>@book.SalePrice</td>
                            <td>
                                <a asp-action="edit" asp-route-id="@book.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="delete" asp-route-id="@book.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
                    <div aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(page==1?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="1"><<</a></li>
                            <li class="page-item @(page==1?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@(page-1)"><</a></li>
                            @if (page == 1)
                            {
                                for (int i = page; i <= page + 2; i++)
                                {
                                    <li class="page-item @(page==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                                }
                            }
                            else if (page == totalPages)
                            {
                                for (int i = page - 2; i <= page; i++)
                                {
                                    <li class="page-item @(page==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                                }
                            }
                            else
                            {
                                for (int i = page - 1; i <= page + 1; i++)
                                {
                                    <li class="page-item @(page==i?"active":"")"><a class="page-link" asp-action="index" asp-route-page="@i">@i</a></li>

                                }
                            }
                            <li class="page-item @(page==totalPages?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@(page+1)">></a></li>
                            <li class="page-item @(page==totalPages?"disabled":"")"><a class="page-link" asp-action="index" asp-route-page="@totalPages">>></a></li>

                        </ul>
                    </div>
        </div>
    </div>
</div>